body {
    font-family: "Rubik", sans-serif;
    color: #0000008c;
}

.custom-tooltip-edit {
    --bs-tooltip-bg: var(--bs-warning);
}

.custom-tooltip-delete {
    --bs-tooltip-bg: var(--bs-danger);
}
